node_modules
.next
out
build
npm-debug.log*
.git
.gitignore
.env
.env.*.local
!.env.example
prisma/dev.db
prisma/dev.db-shm
prisma/dev.db-wal
public/uploads/*
!public/uploads/.gitkeep
e2e-screenshots
*.tsbuildinfo
.DS_Store
README.md
COOLIFY.md
